<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="apple-touch-icon" sizes="57x57" href="http://www.clanomega.com/static/clan/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://www.clanomega.com/static/clan/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://www.clanomega.com/static/clan/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://www.clanomega.com/static/clan/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://www.clanomega.com/static/clan/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://www.clanomega.com/static/clan/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://www.clanomega.com/static/clan/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://www.clanomega.com/static/clan/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://www.clanomega.com/static/clan/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="http://www.clanomega.com/static/clan/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://www.clanomega.com/static/clan/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://www.clanomega.com/static/clan/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://www.clanomega.com/static/clan/favicon-16x16.png">
    <link rel="manifest" href="http://www.clanomega.com/static/clan/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://www.clanomega.com/static/clan/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="http://www.clanomega.com/static/clan/clanstyle.css">
    <script type="text/javascript" src="http://www.clanomega.com/static/clan/leagueteams.js"></script>
    <title>Omega</title>
</head>

<body>
<div class="w3-bar w3-display-container w3-opacity w3-hover-opacity-off" id="gb">
   <a href="/" class="w3-bar-item w3-button w3-white w3-mobile" id="b" style="width:20%">Home</a></li>
   <a href="/streams/home" class="w3-bar-item w3-button w3-text-white w3-mobile" id="b" style="width:20%">Streams</a></li>
   <a href="/league" class="w3-bar-item w3-button w3-text-white w3-mobile" id="b" style="width:20%">League</a></li>
   <a href="/stats" class="w3-bar-item w3-button w3-text-white w3-mobile" id="b" style="width:20%">Stat Center</a></li>
   <a href="/about" class="w3-bar-item w3-button w3-text-white w3-mobile" id="b" style="width:20%">About</a></li>
</div>
</body>

</html>